<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="./sort" method="get">
        <select name="sortField">
            <% for (let field of sortFields) {%>
                <option value="<%= field.value%>" <%=field.selected%>><%= field.text%></option>

            <%= }%>
            <option value="name"><%= sortField === "name" ? "selected" : "" %> Name</option>
            <option value="age"><%= sortField === "age" ? "selected" : "" %> Age</option>
        </select>
        <select name="sortDirection">
            <% for (let direction of sortDirection) {%>
            <option value="<%= direction.value%>"> <%= direction.selected === "asc" ? "selected" : "" %> ASC</option>
        </select>
        <button type="submit">Sort</button>
    </form>

    <% for (let person of persons) { %>
        <ul>
             <li><%= person.name %> ()</li>
        </ul>
    <%} %>
</body>
</html>